<div class="col-md-4 col-md-offset-5 baconground">
    <h1>KevBa</h1>
</div>

<section class="col-md-12">
    <input ng-model="vm.firstActor" 
           class="input-field pull-left" 
           type="text" 
           placeholder="Actor to find" />

    <div class="heart-container">
        <img ng-click="vm.goFetch()" class="bacon-heart" src="app/images/baconheart.png" />
    </div>
   
     <input ng-model="vm.secondActor"
           class="input-field pull-right" 
           type="text" 
           placeholder="Second actor" />
</section>

<section class="col-md-12 result-container">
    <div ng-repeat="result in vm.results">
        <div style="background-image:url(https://www.themoviedb.org/{{result.ImageUrl}})"></div>

        <h3 ng-bind="result.Name"></h3>
    </div>
</section>