<div class="col-md-4 col-md-offset-5 baconground">
    <h1>KevBa</h1>
</div>

<section class="col-md-12">
    <input ng-model="vm.firstActor" 
           class="input-field pull-left" 
           type="text" 
           placeholder="First actor" />

    <div class="heart-container">
        <img ng-click="vm.goFetch()" class="bacon-heart" src="app/images/baconheart.png" />
    </div>
   
     <input ng-model="vm.secondActor"
           class="input-field pull-right" 
           type="text" 
           placeholder="Second actor" />
</section>

<section ng-if="vm.results !== null" class="col-md-12 result-container">
    <actor data="vm.results"></actor>
</section>